i.material-icons {
    vertical-align: middle;
    color: teal;
    
    }

    .brand-logo {
        font-family: Impact;
        
    }

    #col-1 {
        position: fixed;
        width: 50%;
        float: left;
        height: 100%;
    
        z-index: 1010101010
      }
      
      #col-2 {
        position: fixed;
        width: 50%;
        float: right;
        height: 100%;
       
        z-index: 1010101010
      }

      #videos-container {
        overflow: hidden;
        padding-top: 0%;
        position: static;
      }
       
      #videos-container {
         border: 0;
         height: 100%;
         left: 0;
         position: static;
         top: 0;
         width: 100%;
      }
      #videos-container-4x3 {
        padding-top: 0%;
      }